In [238]:
import pandas as pd
import numpy as np
import streamlit as st
import plotly.express as px

In [239]:
df = pd.read_csv('vehicles_us.csv')
print(df.head())

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

In [240]:
df["is_4wd"] = df["is_4wd"].fillna(0.0)
print(df['is_4wd'].isna().sum())

0

In [241]:
average_odometer = df.groupby("model_year")["odometer"].transform('mean')
df["odometer"] = df["odometer"].fillna(average_odometer)
print(df["odometer"].isna().sum())

550

In [242]:
df["paint_color"] = df["paint_color"].fillna('unknown')
display(df['paint_color'].value_counts())
display(df.isna().sum())

paint_color
white      10029
unknown     9267
black       7692
silver      6244
grey        5037
blue        4475
red         4421
green       1396
brown       1223
custom      1153
yellow       255
orange       231
purple       102
Name: count, dtype: int64

price              0
model_year      3619
model              0
condition          0
cylinders       5260
fuel               0
odometer         550
transmission       0
type               0
paint_color        0
is_4wd             0
date_posted        0
days_listed        0
dtype: int64

In [243]:
category = df['type'].unique()
display(category)

array(['SUV', 'pickup', 'sedan', 'truck', 'coupe', 'van', 'convertible',
       'hatchback', 'wagon', 'mini-van', 'other', 'offroad', 'bus'],
      dtype=object)

In [244]:
df['price'].min()

1

In [245]:
df['price'].max()

375000

In [246]:
min_price, max_price = int(df['price'].min()), int(df['price'].max())

In [254]:
display(df['condition'].unique())
df['age'] = 2024 - df['model_year']
df.head()
display(df['age'].min(), df['age'].max())

array(['good', 'like new', 'fair', 'excellent', 'salvage', 'new'],
      dtype=object)

5.0

116.0

In [256]:
def age_category(x):
    if x<25: return '<25'
    elif x>=25 and x<50: return '25-49'
    elif x>= 50 and x<75: return '50-74'
    elif x>= 75 and x<100: return '75-99'
    elif x>= 100 and x<117: return '100-116'
    else: return 'unknown'

In [258]:
df['age_category'] = df['age'].apply(age_category)

In [260]:
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,age,age_category
0,9400,2011.0,bmw x5,good,6.0,gas,145000.000000,automatic,SUV,unknown,1.0,2018-06-23,19,13.0,<25
1,25500,NaN,ford f-150,good,6.0,gas,88705.000000,automatic,pickup,white,1.0,2018-10-19,50,NaN,unknown
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.000000,automatic,sedan,red,0.0,2019-02-07,79,11.0,<25
3,1500,2003.0,ford f-150,fair,8.0,gas,162071.751024,automatic,pickup,unknown,0.0,2019-03-22,9,21.0,<25
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.000000,automatic,sedan,black,0.0,2019-04-02,28,7.0,<25